{% extends "base.html" %}

{% block content %}

<p class="copyright"><em>These quotes are purely for informational purposes, and should not be viewed as any form of financial advice.</em></p>
 <div class="row">
  <div class="medium-2 columns"><p></div>


  <div class="medium-10 columns"></div>

<!-- Bloomberg box -->

        <div class="large-8 columns">
          <div id="bloomberg" class="panel callout">

          <div class="logos">
          <a href="//www.bloomberg.com/markets"><img class="logos" src="static/img/bloomberg_logo.png"></a>
          <p class="bloomberg-caption">Market data for the world's stock, futures and currency markets

          </div>
          <select id="selectField-bloomberg">
          <option value="bloomberg1">Stocks</option>
          <option value="bloomberg2">Futures</option>
          <option value="bloomberg3">Currencies</option>

           </select>

 <!-- Stocks -->

          <div id="bloomberg1" class="bloomberg">
        <div id="bloomberg" class="panel callout content">
        <table align=center>
        {% for markets in stock_markets %}
          <tr>
          {% if '+' in markets[2] %}
          <td id="pos" class="quotes">
          {% else %}
          <td id="neg" class="quotes">
          {% endif %}
          <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span>
          {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
          </tr>
        {% endfor %}
        </table>
        </div>
        </div>

<!-- Futures -->
          <div id="bloomberg2" class="bloomberg">
          
            <div id="bloomberg" class="panel callout content">
            <table align=center>

          <tr>
          {% for markets in futures[0:2] %}
         {% if '+' in markets[2] %}
          <td id="pos" class="small-quotes">
          {% else %}
          <td id="neg" class="small-quotes">
          {% endif %}
          <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span><br />
         {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
          {% endfor %}
          </tr>


          <tr>
          {% for markets in futures[2:4] %}
          {% if '+' in markets[2] %}
          <td id="pos" class="small-quotes">
          {% else %}
          <td id="neg" class="small-quotes">
          {% endif %}
           <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span><br />
          {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
          {% endfor %}
          </tr>

          <tr>
          {% for markets in futures[5:7] %}
          {% if '+' in markets[2] %}
          <td id="pos" class="small-quotes">
          {% else %}
          <td id="neg" class="small-quotes">
          {% endif %}
           <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span><br />
         {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b></span>)</p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b></span>)</p>
          {% endif %}
          </td>
          {% endfor %}
          </tr>

        </table>
          </div>
          </div>

 <!-- Currencies -->

            <div id="bloomberg3" class="bloomberg">
          
            <div id="bloomberg" class="panel callout content">
            

          <table align=center>
          <tr>
          {% for markets in currencies[0:3] %}
          {% if '+' in markets[2] %}
          <td id="pos" class="small-quotes">
          {% else %}
          <td id="neg" class="small-quotes">
          {% endif %}
          <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span><br />
           {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
          {% endfor %}
          </tr>

          <tr>
          {% for markets in currencies[4:7] %}
          {% if '+' in markets[2] %}
          <td id="pos" class="small-quotes">
          {% else %}
          <td id="neg" class="small-quotes">
          {% endif %}
           <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span><br />
           {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
          {% endfor %}
          </tr>

          <tr>
          {% for markets in currencies[7:10] %}
          {% if '+' in markets[2] %}
          <td id="pos" class="small-quotes">
          {% else %}
          <td id="neg" class="small-quotes">
          {% endif %}
           <span class="bloomtext" id="index"><b>{{ markets[0] }}</b></span><br /><br /><span class="bloomtext" id="value" >{{ markets[1] }}</span><br />
           {% if '+' in markets[2] %}
          <span class="bloomtext" id="pos-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% else %}
          <span class="bloomtext" id="neg-change">(<b>{{ markets[2] }}</b>)</span></p>
          {% endif %}
          </td>
          {% endfor %}
          </tr>


        </table>
        </div>
          </div>

        </div>
<p></p>
        </div>


  <div class="medium-2 columns"></div>
    </div>


        </div>

      </div>


        </div>
<h3 class="reddit-text" id="header">Previous: <a href="/">Fun Scrapers</a></h3>

{% endblock content %}