<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>AceScrape - {{ tagline }}</title>

  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
  

  <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>

</head>
<body>



<nav class="top-bar" data-topbar><div class="name"><h1><a href="#">{{ name }}</a></h1>
</div> </nav>

<nav id="sub" class="top-bar" data-topbar>
<a href="//github.com/acecodes/acescrape">Github repo</a> | 
<a href="//acecodes.net">Author blog</a></section> </nav>

<br /> 
  <div class="row">
    <div class="large-12 columns">

 <!-- Reddit box -->

      <div class="row">
        <div class="large-6 columns">
          <div id="reddit" class="panel callout">
          <div class="logos">
          <a href="//www.reddit.com"><img class="logos" src="static/img/reddit_logo.png"></a>
          </div>
          <select id="selectField-reddit">
          <option value="reddit1">Subreddits</option>
          <option value="reddit2">Images</option>
          <option value="reddit3">Cuteness Index</option>
           </select>

          <div id="reddit1" class="reddit">
            <p>Here are the subreddits that are currently featured on the front page of <a href="//www.reddit.com">Reddit</a>.</p>
        <div class="panel callout content">
        {% for subs in subreddits %}
          <p class="subreddits"><span id="subs" class="reddit-text">{{ subs|safe }}</span> - <span id="numbers" class="reddit-text">{{ subreddits[subs] }} submissions</span></p>
        {% endfor %}
        </div>
        </div>

            <div id="reddit2" class="reddit">
            <p>Here are thumbnails of each image currently featured on the front page of <a href="//www.reddit.com">Reddit</a>.</p>
            <div class="panel callout content">
        {% for thumbs in images %}
          <span class="thumbs">{{ thumbs|safe }}</span>
        {% endfor %}
        </div>
          </div>

          <div id="reddit3" class="reddit">
            <p>The Reddit Cuteness Index utilizes a highly sophisticated, top-secret algorithm to measure the amount of animal-induced cuteness that is present on <a href="//www.reddit.com">Reddit</a> at the moment.</p>
            <div class="panel callout content">
       {% if cuteness_float >= 5 %}
       <p id="cuteness" class="huge">{{ cuteness_index }}</p>
          <p class="cuteness"><span id="cuteness-announce" class="reddit-text"> Cuteness level: </span><br /><span id="cuteness-level" class="reddit-text">{{ cuteness_levels(2) }}</span></p>
      {% elif cuteness_float >= 2.5 %}
      <p id="cuteness" class="huge">{{ cuteness_index }}</p>
          <p class="cuteness">Cuteness level: <br />{{ cuteness_levels(1) }}</p>
      {% else %}
      <p id="cuteness" class="huge">{{ cuteness_index }}</p>
          <p class="cuteness">Cuteness level: <br />{{ cuteness_levels(0) }}</p>
       {% endif %}
          </div>
          </div>
        </div>
        </div>

 <!-- TechCrunch box -->


        <div class="large-6 columns">
          <div id="techcrunch" class="panel callout">
          <div class="logos">
          <a href="//www.techcrunch.com"><img class="logos" src="static/img/techcrunch_logo.png"></a>
          </div>
          <select id="selectField-techcrunch">
          <option value="techcrunch1">VC Mentions</option>
           </select>
          <div id="techcrunch1" class="techcrunch">
            <p>This is how many times VCs (<b>V</b>enture <b>C</b>apitalists) are mentioned on the current front page of  <a id="techcrunch" href="//www.techcrunch.com">TechCrunch</a>. Because it's all about <em>innovation</em> and <em>disruption</em> people!</p>
        <div id="techcrunch" class="panel callout content">
        {% if VCs >= 3 %}
          <p id="techcrunch" class="huge">{{ VCs }}</p>
          <p class="money">Disruption level: <br />{{ disruption_levels(2) }}</p>
        {% elif VCs >= 1 %}
          <p id="techcrunch" class="huge">{{ VCs }}</p>
          <p class="money">Disruption level: <br />{{ disruption_levels(1) }}</p>
        {% else %}
          <p id="techcrunch" class="huge">0</p>
          <p class="money">Disruption level: <br />{{ disruption_levels(0) }}</p>
        {% endif%}
        </div>
        </div>

        </div>
        </div>
        </div>

        </div>

      </div>
     
    </div>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47494721-4', 'acescrape.com');
  ga('send', 'pageview');

</script>
  
  <script src="{{ url_for('static', filename='js/vendor/zepto.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/topbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/acescrape.js') }}"></script>
  <script>
    $(document).foundation();

  </script>
</body>
</html>
