{% extends "base.html" %}


{% block content %}

  <div class="row">

    <div class="large-12 columns">

 <!-- Reddit box -->

      <div class="row">

        <div class="large-6 columns">
          <div id="reddit" class="panel callout">
          <div class="logos">
          <a href="//www.reddit.com"><img class="logos" src="static/img/reddit_logo.png"></a>
          </div>
          <select id="selectField-reddit">
          <option value="reddit1">Subreddits</option>
          <option value="reddit2">Cuteness Index</option>
          <option value="reddit3">Images</option>

           </select>
 <!-- Subreddits -->

          <div id="reddit1" class="reddit">
            <p>Here are the subreddits that are currently featured on the front page of <a href="//www.reddit.com">Reddit</a>.</p>
        <div class="panel callout content">
        {% for subs in subreddits %}
          <p class="subreddits"><span id="subs" class="reddit-text"><a href="//www.reddit.com/{{ subs|safe }}">{{ subs|safe }}</a></span> - <span id="numbers" class="reddit-text">{{ subreddits[subs] }} {% if subreddits[subs] > 1 %} submissions {% else %} submission {% endif %}</span></p>
        {% endfor %}
        </div>
        </div>

<!-- Cuteness Index -->
          <div id="reddit2" class="reddit">
            <p>The Reddit Cuteness Index utilizes a highly sophisticated, top-secret algorithm to measure the amount of animal-induced cuteness that is present on <a href="//www.reddit.com">Reddit</a> at the moment.</p>
            <div class="panel callout content">
       {% if cuteness_index >= 3 %}
       <p id="cuteness" class="huge">{{ cuteness_index }}</p>
          <p class="cuteness"><span id="cuteness-announce" class="reddit-text"> Cuteness level: </span><br /><span id="cuteness-level" class="reddit-text">{{ cuteness_levels(2) }}</span></p>
      {% elif cuteness_index >= 2 %}
      <p id="cuteness" class="huge">{{ cuteness_index }}</p>
          <p class="cuteness"><span id="cuteness-announce" class="reddit-text"> Cuteness level: </span><br /><span id="cuteness-level" class="reddit-text">{{ cuteness_levels(1) }}</span></p>
      {% else %}
      <p id="cuteness" class="huge">{{ cuteness_index }}</p>
          <p class="cuteness"><span id="cuteness-announce" class="reddit-text"> Cuteness level: </span><br /><span id="cuteness-level" class="reddit-text">{{ cuteness_levels(0) }}</span></p>
       {% endif %}
          </div>
          </div>

 <!-- Images -->

            <div id="reddit3" class="reddit">
            <p>Here are thumbnails of each image currently featured on the front page of <a href="//www.reddit.com">Reddit</a>.</p>
            <div class="panel callout content">
        {% for thumbs in images %}
          <span class="thumbs">{{ thumbs|safe }}</span>
        {% endfor %}
        </div>
          </div>

        </div>
        </div>

 <!-- TechCrunch box -->


        <div class="large-6 columns">
          <div id="techcrunch" class="panel callout">
          <div class="logos">
          <a href="//www.techcrunch.com"><img class="logos" src="static/img/techcrunch_logo.png"></a>
          </div>
          <select id="selectField-techcrunch">
          <option value="techcrunch1">Writers</option>
          <option value="techcrunch2">VC Mentions</option>
           </select>

      <!-- Writers -->

          <div id="techcrunch1" class="techcrunch">
            <p>Here's a breakdown of writers featured on <a id="techcrunch" href="//www.techcrunch.com">TechCrunch</a> right now.</p>
        <div id="techcrunch" class="panel callout content">
        {% for authors, links in writers %}
          <p class="subreddits"><span id="writers" class="tctext"><a href="http://www.techcrunch.com{{ links }}">{{ authors }}</a></span> - <span id="numbers" class="tctext">{{ writers[authors, links] }} {% if writers[authors, links] > 1 %} articles {% else %} article {% endif %}</span></p>
        {% endfor %}
        </div>
        </div>

      <!-- VC Mentions -->
          <div id="techcrunch2" class="techcrunch">
            <p>This is how many times VCs (<b>V</b>enture <b>C</b>apitalists) are mentioned on the current front page of  <a id="techcrunch" href="//www.techcrunch.com">TechCrunch</a>. Because it's all about <em>innovation</em> and <em>disruption</em> people!</p>
        <div id="techcrunch" class="panel callout content">
        {% if VCs >= 3 %}
          <p id="techcrunch" class="huge">{{ VCs }}</p>
          <p class="money"><span id="disruption-announce" class="tctext"> Disruption level: </span><br /><span id="disruption-level" class="tctext">{{ disruption_levels(2) }}</span></p>
        {% elif VCs >= 1 %}
          <p id="techcrunch" class="huge">{{ VCs }}</p>
          <p class="money"><span id="disruption-announce" class="tctext"> Disruption level: </span><br /><span id="disruption-level" class="tctext">{{ disruption_levels(1) }}</span></p>
        {% else %}
          <p id="techcrunch" class="huge">0</p>
          <p class="money"><span id="disruption-announce" class="tctext"> Disruption level: </span><br /><span id="disruption-level" class="tctext">{{ disruption_levels(0) }}</span></p>
        {% endif%}

        </div>
        </div>

        </div>
        </div>
        </div>

        </div>

      </div>

<h3 class="reddit-text" id="header">Next: <a href="finance">Finance Scrapers</a></h3>

{% endblock content %}

